html {
    overflow-x: hidden;
  }

body{
    padding-bottom: 60px;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*--- Start Parallax Style --*/
.parallax {
	background: url("https://images.unsplash.com/photo-1638030108775-c4510886b410?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3271&q=80") repeat fixed 100%;
	text-align: center;
}
.parallax-inner {
	padding-top: 15%;
	padding-bottom: 15%;
}
/*--- End Parallax Style --*/
h1 {
	text-align: center;
	font-size: 500%;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.jumbotron {
    color: #425b74;
    background: #ffffff;
    margin-top: 50px;
    }

.col-md-6 p {
	font-weight: normal;
}
