body { padding-top: 70px; 
    background: url("../Images/info_bg2.png");
    background-size: cover;
    background-position: auto;
    }

.jumbotron {
color: #2c3e50;
background: #ffffff;
margin-top: 50px;
}

img {
    border: 3px solid #555;
    border-radius:5%
    }
    
.text-center h3{
    margin-top: 10px;
}

.btn-light{
    margin: 0 auto;
    display: block;
}

#health {
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    margin-bottom: 15px;
}
